body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-2{
  margin: 0.6rem;
}

.m-3{
  margin: 1rem;
}

.mt-5{
  margin: 2rem;
}

.container{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.items-container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.text-center{
  text-align: center;
}